.App {
  width: 620px;
  height: 620px;
  text-align: center;
  background: #0b2434;
  margin: 40px auto;
}

.App main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  background: #f5f5f5;
}
