main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #f5f5f5;
  border-radius: 10px;
  margin: 50px auto;
}

.dieContainer{
  display: grid;
  grid-template-columns: repeat(5, 35px);
  gap: 10px;
}